<div id="french-toast-js-container" aria-live="polite" role="alert">
  <div class="french-toast-c-content" data-french-toast-content>
    <% if french_toast_content? %>
      <%= french_toast_content.html_safe %>
    <% end %>
  </div>

  <noscript>
    Refresh page for updates.
  </noscript>
</div>
