<div id="french-toast-js-container" aria-live="polite" role="alert">
  <div class="french-toast-c-message">
    <p data-french-toast-message><%= french_toast_message %></p>
  </div>

  <noscript>
    Refresh page for updates.
  </noscript>
</div>
